{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% for category, category_products in product_categories.items() %}
    <section id="{{ category.lower().replace(' ', '-') }}">
        <h2>{{ category }}</h2>
        <ul class="product-list">
            {% for product in category_products %}
            <li>
                <a href="{{ url_for('product', product_id=product.id) }}">
                    <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                    <p>Price: ${{ product.price }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
{% endblock %}